@{
    ViewData["Title"] = "MemorySpace.io - Privacy";
}
<br />
<br />
<center><h1>@ViewData["Title"]</h1></center>
<div class="flexbox-container-privacy">
    <div class="flexbox-row">
        <p style="text-align: justify; margin-left:auto; margin-right:auto; max-width: 80%;">Sentient Ventures LLC is committed to providing top notch security and does not use data provided by its users for any purpose except general communication related to the service.  This service is provided on a free basis to select accounts and as such there are no warranties extended excepting our commitment to not take any deliberate action to use or disclose client data except in the unlikely event that it is required by law. </p>

        <p style="text-align: justify; margin-left:auto; margin-right:auto; max-width: 80%;">If questions about privacy remain, a member of our management team will be glad to provide clarification.</p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>